/* Color Palette */
:root {
  --pink: #ffaaa7;
  --orange: #ffd3b4;
  --green: #d5ecc2;
  --blue: #98ddca;

  --darkpink: #cc7d7a;
  --darkorange: #cca487;
  --darkblue: #6dab99;

  --black: #242331;
  --white: #f9f9fB;
  --darkwhite: #f3f3f7;
}

/* PRIMARY STYLES */
body {
  max-width: 1120px;
  margin: auto;
  color: var(--black);
}

header, main, footer {
  padding-left: 95px;
  padding-right: 95px;
}

h1 {
  font-family: clone-rounded-latin, sans-serif;
  font-weight: 700;
  font-style: normal;

  font-size: 3.25rem;
}

p, span, a, li {
  font-family: monotype-grotesque, sans-serif;
  font-weight: 300;
  font-style: normal;

  font-size: 1.125rem;
}

a {
  color: var(--darkblue);
  text-decoration: none;
}

a:hover {
  color: var(--pink);
}

a img{
  max-width: 40px;
}

/* BOOTSTRAP OVERRIDE */
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {
  padding-left: 0;
  padding-right: 0;
}

/* HEADER */
header {
  background-color: var(--white);

  margin-bottom: 140px;
  border-radius: 0 0 20px 20px;
}

header a {
  font-family: clone-rounded-latin, sans-serif;
  font-weight: 700;
  font-style: normal;

  text-decoration: none;
  font-size: 1.5rem;
  color: var(--black);

  padding-top: 1rem;
  padding-bottom: 1rem;

}

header a:hover {
  color: var(--black);
}

header nav {
  text-align: right;
}

header nav a {
  display: inline-block;
  margin-left: 10px;

  padding-left: 10px;
  padding-right: 10px;
}

header nav a:nth-child(1) {
  background-color: var(--green);
}

header nav a:nth-child(2) {
  background-color: var(--pink);
}

header nav a:nth-child(3) {
  background-color: var(--blue);
}

header nav a:nth-child(4) {
  background-color: var(--orange);
}


header nav a:hover {
  color: var(--white);
}

header nav a span {
  display: none;
}

/* FOOTER */
footer {
  background-color: var(--white);

  margin-top: 140px;
  padding-top: 50px;
  padding-bottom: 50px;

  border-radius: 20px 20px 0 0;
}

footer h1 {
  font-family: monotype-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 1.125rem;
}

.footer-margin {
  margin-top: 20px;
}

.minilogo {
  text-align: center;
  margin-top: 20px;
}

.minilogo span {
  font-family: clone-rounded-latin, sans-serif;
  font-weight: 700;
  font-style: normal;

  text-decoration: none;
  font-size: 1.5rem;
}
